@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    Green: #67b26f
    Blue: #4ca2cd
    Mid: #5aaa9d
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.pizza{
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 30px 80px 10px rgba(0,0,0, .2);

    display: flex;
    align-items: stretch;
    transition: all 2s cubic-bezier(.29, 1.01, 1, -0.68);
    transform:rotateX(360deg);
    perspective: 10px;
}

.pizza:hover{
    perspective: 1000px;
}

.pizza__hero{
    flex: 0 0 45%;
    overflow: hidden;

}

.pizza__img {
    width: 100%;
    height: 100%;
    display: inline;
    /* object-fit: cover; */
    opacity:0.5;
    transition: opacity 1s ease-in-out, transform 1s ease-in, z-index 1s ease-in-out;
    
}

.pizza__img:hover {
    opacity:1;
   /* width:103%;*/
   transform: scale(1.2,1.2);
    z-index:-10;
}



.pizza__content {
    flex: 1;
    background: white;
    padding: 35px 30px;

    display: flex;
    flex-direction: column;
}

.pizza__price {
    flex: 0 0 50px;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    writing-mode: vertical-rl;
    color: white;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition:transform 2s ease-in;
}

.pizza__price:hover{
    transform:rotateY(50deg);
}



.pizza__title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.pizza__heading:hover{
    opacity: 1;
    text-decoration: overline;
}
.pizza__heading{
    opacity:0.5;
    
    margin-left:0px;
   
    transition-delay: 1s;
    font-size: 20px;
    margin-right: auto;
    transition:opacity 0.5s ease-in-out, margin-left 1s ease-in, text-decoration 2s ease-in-out;
}

.pizza__tag {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    padding: 2px 7px;
    border-radius: 100px;
    margin-left: 7px;
    transform: translateY(0px);
    transition:transform 5s;
}

.pizza__tag:hover {
    transform: translateX(1200px);
}

.pizza__tag--1{
    background-color: #67b26f;
}
.pizza__tag--2{
    background-color: #4ca2cd;
}

.pizza__description {
    font-size: 14px;
    width:100%;
    transition:transform 1s linear, width 3s linear, margin-left 1s linear, margin-top 1s linear;
}
.pizza__description:hover {
    transform: scale(1.2, 1.2);
    width:80%;
    margin-top:20px;
    margin-left:20px;
}
.pizza__details {
    display: flex;
    margin-top: auto;
}

.pizza__detail{
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;
    transition:transform 1s ease, color 1s linear;
}

.pizza__detail:nth-of-type(1):hover{
    transform:scale(1.1,1.1);
}
.pizza__detail:nth-of-type(2):hover{
    transform:translateY(1200px);
}
.pizza__detail:nth-of-type(3):hover{
    color:rgb(77, 206, 109);
    transform:skew(2deg, 12deg);
}

.emoji {
    font-size: 20px;
    margin-right: 3px;
    transition:transform 1s ease;
}

.emoji:hover{
    transform:rotate(90deg);
}